<div id="bar">
  <span id="changebtn" class="btn" (click)="invert()">invert</span>
  <span id="fudiaobtn" class="btn"(click)='fudiao()'>fudiao</span>
  <span id="blurbtn" class="btn"(click)='blur()'>blur</span>
  <span id="graybtn" class="btn"(click)='gray()'>gray</span>
  <span id="backbtn" class="btn" (click)='back()'>back</span>
  <input type="file"  id="imgtext" (change)='filechange($event)' placeholder="Please enter a mission"style="margin:30px;width:400px;height:30px;line-height:30px;font-size:22px;box-shadow:5px 2px 6px"/>               
  <!-- <span id="imgbtn" class="btn" (click)='createImagebox(event)'>Create Image</span> -->
  <!-- <input type="range" max="100.0" min="-100.0" id="brightness">
  <input type="range" max="1000" min="1" id="transparent" > -->
</div>
