<h1>Common User Instructions</h1>
<p class="content">As a common user,
  you can use this website to read local images,
  add a variety of filters and download the beautified images to your local computer.
  Enjoy the simple beautification of the joy of pictures.</p>

<p class="i">[File]-[Open File]: read local images.
  <br/>[Invert]: Contrast color.
  <br/>[Fudiao]: Emboss effect.
  <br/>[Blur]: Blurring effect.
  <br/>[Gray]: Adjust grayscale.
  <br/>[Back]: Undo last step.
</p>
<!-- <p class="i">[Invert]: Contrast color.</p>
<p class="i">[Fudiao]: Emboss effect.</p>
<p class="i">[Blur]: Blurring effect.</p>
<p class="i">[Gray]: Adjust grayscale.</p>
<p class="i">[Back]: Undo last step.</p>
<p class="i">[Sticker]: Undo last step.</p> -->
<p class="ii">Click the sticker,
  select the sticker from the image library on the right,
  drag, zoom the sticker to the satisfaction level,
  click on the blank to confirm.</p>
<p class="i">[Download]: Downlaod the image to your local computer.</p>