*{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    // background-color: aqua;
    // height:600px;
}
.advance{
    height:600px;
    overflow: auto;
}
.content{
    font-size:17px;
    width:80%;
    margin:auto;
    text-align: left;
    margin-bottom: 20px;
}
.i{
    text-align: left;
    margin-left:40px;
    font-size:18px;
}
.ii{
    font-size:17px;
    width:80%;
    margin:auto;
    text-align: left;
    margin-bottom: 20px;
}