<div class="advance">
<h1>Advanced User Instructions</h1>
<p class="content">
  As an advanced user,
  in addition to being able to add filters,
  stickers, and downloads to local features,
  there are more services available here.
  First of all, this website detects the uploaded image and
  gets the image information label.
  Then you can use the obtained label hints to
  get a picture of a certain content by searching.</p>

<p class="i">[File]-[Open File]: read local images.
  <br />[Operate]-
    <br />[Invert]: Contrast color.
    <br />[Fudiao]: Emboss effect.
    <br />[Blur]: Blurring effect.
    <br />[Gray]: Adjust grayscale.
</p>
<p class="ii">Click the sticker,
  select the sticker from the image library on the right,
  drag, zoom the sticker to the satisfaction level,
  click on the blank to confirm.</p>
<p class="i">
  [Back]: Undo last step.
  <br />[Sticker]: Undo last step.
  <br />[Download]: Downlaod the image to your local computer.
  <br />[AI Detect]: Downlaod the image to your local computer.
</p>
</div>