<div class="LoginPage">
  <div class="head">
    Fish & Chips
  </div>
  <div class="formDiv">
    <form>
      <div class="formDivS">
        <div class="title">Login</div>
        <div class="label">UserName:*</div>
        <input type="text" [(ngModel)]="userName" name="userName" />
        <div class="label">Password:*</div>
        <input  type="password" [(ngModel)]="password" name="password" />
        <!-- <input type="button" class="login" value="LOGIN" routerLink="/operate"  /> -->
        <input type="button" class="login" value="LOGIN" (click)="login($event)" />
        <input type="button" class="register" value="REGISTER" routerLink="/register" />
      </div>
    </form>

  </div>
  <div class="empty">

  </div>
</div>