<header>
  <div id="nav1">
    <div id="nav2">
      <ul>
        <li><span>File</span>
          <ul>
            <li>
              <div id="open">Open File
                <input type="file" id="imgtext" (change)='filechange($event)' />
              </div>
            </li>

          </ul>
        </li>
        <li><span (click)="invert()">Invert</span></li>
        <li><span (click)="fudiao()">Fudiao</span></li>
        <li><span (click)="blur()">Blur</span></li>
        <li><span (click)="gray()">Gray</span></li>
        <li><span (click)="back()">Back</span>
        </li>
        <li><span (click)="showStickers()">Sticker</span>
        </li>
        <li><span (click)="download()">Download</span>
        </li>
        <li><span (click)="goDetect()">Keyword Analysis & Search</span>
        </li>
        <li class="ai"><span routerLink="/operate">Log Out</span>
        </li>
        <li id="account" (click)="account($event)">
          <span>{{childData}} : My Account</span>
        </li>
        <input class="move" type="range" min="1" max="100" id="input" (change)="darkness($event) " [(ngModel)]='transval'>

      </ul>
    </div>

  </div>