<div class="sticker">
  <p>Sticker Warehouse</p>
  <table>
    <tr>
      <td>
        <div class="s f1" id="f1" (click)='stickers($event)'></div>
      </td>
      <td>
        <div class="s f2" id="f2" (click)='stickers($event)'></div>
      </td>
      <td>
        <div class="s f3" id="f3" (click)='stickers($event)'></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="s f4" id="f4" (click)='stickers($event)'></div>
      </td>
      <td>
        <div class="s f5" id="f5" (click)='stickers($event)'></div>
      </td>
      <td>
        <div class="s f6" id="f6" (click)='stickers($event)'></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="s f7" id="f7"(click)='stickers($event)'></div>
      </td>
      <td>
        <div class="s f8" id="f8"(click)='stickers($event)'></div>
      </td>
      <td>
        <div class="s f9" id="f9"(click)='stickers($event)'></div>
      </td>
    </tr>
    <tr>
        
      </tr>
      <tr>
        <td>
          <div class="s f10" id="f10"(click)='stickers($event)'></div>
        </td>
        <td>
          <div class="s f11" id="f11"(click)='stickers($event)'></div>
        </td>
        <td>
          <div class="s f12" id="f12"(click)='stickers($event)'></div>
        </td>
      </tr>



   
  </table>
</div>