#showResult{
    height:100px;
    width:100%;
    display:block;
    position: absolute;
    top:285px;
    left:380px;

    // float:left;
    // background-color: antiquewhite;
}
#aidetect{
    height: 1500px;
    width:100%;
    background-image:url('../../../../image/5.jpg'); 
    background-size: 100% 100%;
    background-attachment:fixed;
    // opacity: 0.2; 
}
.head{
    font-family: Zapfino;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:rgb(37,37,37);
    padding-top:80px;
}
#imgIntelligent{
    position: absolute;
    right: 0;
    top: 0;
	opacity: 0;
	// background-color: aqua;
	height:50px;
	left:0;
}
#open{
    margin:auto;
    margin-top:30px;
    height:50px;
    width:120px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    background-color: rgb(37,37,37);
    color:whitesmoke;
    // border-radius: 10%;
    position: relative;
}
#AI{
    width:50%;
    float:left;
    margin-top:50px;
}
.modle{
    height:800px;
    width:60%;
    float:left;
    background-color:rgb(58,58,58);
    opacity: 0.2;

}

.detect{
    margin:auto;
    margin-top:30px;
    height:50px;
    width:120px;
    font-size: 20px;
    line-height: 50px;
    background-color: rgb(37,37,37);
    color:whitesmoke;
    margin-bottom: 30px;
    font-weight: bolder;
    border-width: 3px;
}

.select{
    height:40px;
    -webkit-appearance:none;
    appearance:none;
    border:none;
    font-size:18px;
    padding:0px 10px;
    display:block;
    width:50%;
    margin:auto;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#FFFFFF;
    color:#333333;
    border-radius:4px;
  }

  span{
    font-family: Zapfino;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:rgb(37,37,37);
    padding-top:80px; 
  }
  option{
    font-family: Zapfino;
    font-size: 15px;
  }

.search{
    height:800px;
    width:40%;
    float:left;
    // margin-top:50px;
    background-color:rgb(58,58,58);
   opacity: 0.2;
   position: relative;
}

.searchBtn{
    margin:auto;
    margin-top:40px;
    height:50px;
    width:120px;
    font-size: 20px;
    line-height: 50px;
    background-color: rgb(37,37,37);
    color:whitesmoke;
    margin-bottom: 30px;
    font-weight: bolder;
    border-width: 3px;
    display: block;
}

.input{
    height:40px;
    width:50%;
    margin:auto;
    margin-top:50px;
    border-radius:4px;
    border:none;
    font-size:18px;
    color: #333333;
}
p{
    color:white;
    font-size:10px;
}
.tags{
    width:50%;
    height:600px;
    list-style-type:none;
   margin:auto;
   color:#FFFFFF;
   font-size:25px;
   overflow: auto;
   font-weight: 900;
//    background-color: #FFFFFF;
}
li{
    float:left;
    background-color: #333333;
    height:40px;
    margin-right: 30px;
    // border:2px solid black;
    line-height:50px;
    margin-bottom: 30px;
}